.loginPage {
    /*background: url("../../assets/images/banner/3.jpg") no-repeat center scroll;*/
    min-height: 100%;
    background-size: cover;
}

.loginPage .main-content .logo > img {
    display: block;
    margin: 60px auto auto auto;
    width: 160px;
}

.loginPage .main-content .logo > p {
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    color: white;
    margin-bottom: 100px;
    margin-top: 20px;
}