.header-container {
    margin-bottom: 50px;
}

.header-container div.row {
    padding-top: 20px;
}

.header-container .logo > img {
    display: block;
    margin: auto;
    width: 130px;
}

.header-container .logo > p {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    color: white;
}

.header-container div.user-btn-home {
    position: relative;
    left: 50%;
    margin-left: -91px;
    padding: 10px;
}

.header-container a#user-btn-home {
    text-align: center;
    color: white;
    border: 2px solid white;
    font-size: 20px;
    font-weight: 100;
    border-radius: 10px;
    padding: 5px 15px;
    position: relative;
    margin-bottom: 20px;
    display:  block;
    width: fit-content;
}

.header-container a#user-btn-home > i {
    font-size: 22px;
    position: relative;
    top: 2px;
    padding-left: 5px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    text-align: right;
    display: none;
    position: absolute;
    border-radius: 5px;
    background-color: white;
    min-width: 210px;
    box-shadow:0px 2px 80px rgba(0, 0, 0, 0.1);
    padding: 20px 16px;
    z-index: 1;
}

.dropdown-content div.row {
    margin: -10% -8% !important;
}

.dropdown-content div.row div.balance {
    color: lightslategrey;
    font-size: 14px;
    font-weight: 200;
}

.dropdown-content div.row div.balance#name {
    text-align: right;
}

.dropdown-content div.row div.balance#value {
    direction: rtl;
    text-align: right;
}

.dropdown-content > a {
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: 100;
    background-color: #3AD0CA;
    border-radius: 10px;
    padding: 5px 15px;
    margin: 20% 10% 0% 10%;
    display:  block;
    width: auto;
}

.dropdown-content > a:hover {
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 1199px) {
    .container-fluid .header-container .logo {
        padding-top: 100px;
    }

    .container-fluid .header-container .logo > img {
        width: 100px;
    }

    .container-fluid .header-container .logo > p {
        font-size: 25px;
    }

    .container-fluid .header-container .desktop-header {
        display: none;
    }

    .container-fluid .header-container .mobile-header {
        position: absolute;
        top: 15px;
        width: 100%;
    }

    .container-fluid .header-container .mobile-header .username,
    .container-fluid .header-container .mobile-header .balance {
        display: inline-block;
    }

    .container-fluid .header-container .mobile-header span {
        color: white;
    }

    .container-fluid .header-container .mobile-header .username {
        float: right;
        margin-right: 30px;
        padding: 5px 8px;
    }

    .container-fluid .header-container .mobile-header .balance {
        background-color: #F2505E;
        padding: 5px 8px;
        border-radius: 5px;
        margin-left: 30px;
    }
}

@media screen and (min-width: 1199px) {
    .container-fluid .header-container .mobile-header {
        display: none;
    }
}