@import "header.css";
@import "slideshow.css";
@import "../searchForm.css";

.container-fluid div.advantage-container {
    margin: 20px 0px 70px 0px !important;
}

.container-fluid div.advantage-container div.item {
    padding: 15px;
    text-align: center;
}

.container-fluid div.advantage-container div.item:first-child {
    padding-left: 0px;
    border-color: #524B9A;
}

.container-fluid div.advantage-container div.item:last-child {
    padding-right: 0px;
}

.container-fluid div.advantage-container div.item > div {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow:0px 2px 80px rgba(0, 0, 0, 0.1);
}

.container-fluid div.advantage-container div.item > div > img {
    width: 90px;
}

.container-fluid div.advantage-container div.item > div > span {
    display: block;
}

.container-fluid div.advantage-container div.item > div > span.title {
    font-size: 30px;
    padding: 10px;
}

.container-fluid div.advantage-container div.item > div > span.description {
    font-size: 20px;
}

.container-fluid div.why {
    margin-bottom: 80px;
    direction: rtl;
    text-align: right;
    position: relative;
}

.container-fluid div.why img {
    display: block;
    width: 100%;
    position: relative;
    top: 50%;
    margin-top: -110px;
}

.container-fluid div.why div.items {
    padding: 10px;
}

.container-fluid div.why div.items div.item {
    padding-bottom: 10px;
    font-size: 18px;
}

.container-fluid div.why div.items div.item > i {
    padding-left: 10px;
    color: #524B9A;
}

.container-fluid div.why div.title {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 600;
}

@media screen and (max-width: 1199px) {
    .container-fluid div.advantage-container {
        margin-bottom: 20px !important;
    }

    .container-fluid div.advantage-container div.item > div > img {
        width: 70px;
    }

    .container-fluid div.advantage-container div.item > div > span.title {
        font-size: 20px;
    }

    .container-fluid div.advantage-container div.item > div > span.description {
        font-size: 16px;
    }

    .container-fluid div.advantage-container div.item {
        padding-right: 0;
        padding-left: 0;
    }

    .container-fluid div.why {
        margin-bottom: 0;
    }

    .container-fluid div.why div.items div.item {
        font-size: 14px;
    }

    .container-fluid div.why div.title {
        text-align: center;
    }

    .container-fluid div.why div.items div.item {
        font-size: 80%;
    }

    .container-fluid div.why img {
        display: none;
    }
}

@media screen and (min-width: 1199px) {
  .container-fluid div.advantage-container div.item > div {
        min-height: 275px;
        max-height: 250px;
    }
}