.container-fluid div.main-content {
    width: 100%;
    direction: rtl;
    padding: 35px;
}

.container-fluid .main-content div.labels {
    color: lightgrey;
    font-size: 14px;
    font-weight: 100;
    padding-bottom: 8px;
    padding-left: 5px;
}

.container-fluid .main-content .row .balance {
    padding-top: 3px;
    text-align: right;
}

.container-fluid .main-content .row .add-house-btn {
    background-color: #3AD0CA;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 100;
    border-radius: 10px;
    margin: 20px auto 70px auto;
    display:  block;
    float: left;
    padding: 7px;
    width: 100%;
}

footer {
    position: fixed;
    bottom: 0px;
}

@media screen and (max-width: 1199px) {

    .container-fluid div.main-content{
        direction: rtl;
        padding: 15px;
    }

    .container-fluid .main-content .row .balance {
        padding-top: 3px;
        font-size: 14px;
        text-align: right;
        margin-bottom: 10px;
    }

    .container-fluid .main-content .row .add-house-btn {
        width: 100%;
    }

    .container-fluid .main-content div.labels {
         position: relative;
         top: 85px;
     }

    .container-fluid .main-content div.form-item {
        position: relative;
        padding-top: 15px;
    }
}