.container-fluid div.main-content{
    width: 100%;
    direction: rtl;
    padding: 35px;
}

.container-fluid .main-content .row .deal-type {
    margin-top: 50px;
    direction: rtl;
    text-align: right;
}

.container-fluid .main-content .row .deal-type span.space {
    margin: 0px 35px;
}

.container-fluid .main-content div.labels {
    color: lightgrey;
    font-size: 14px;
    font-weight: 100;
}

.container-fluid .main-content .row .form-item {
    padding-bottom: 8px;
    padding-top: 8px;
}

.container-fluid .main-content .extra-margine {
    margin: 16px 0px;
}

.container-fluid .main-content .row .add-house-btn {
    background-color: #3AD0CA;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 100;
    border-radius: 10px;
    margin: 40px auto 70px auto;
    display:  block;
    float: left;
    padding: 7px;
    width: 80%;
}

@media screen and (max-width: 1199px) {

    .container-fluid div.main-content{
        direction: rtl;
        padding: 15px;
    }

    .container-fluid .main-content .row .balance {
        padding-top: 3px;
        font-size: 14px;
        text-align: right;
        margin-bottom: 10px;
    }

    .container-fluid .main-content .row .add-house-btn {
        width: 100%;
    }

    .container-fluid .main-content div.labels {
        position: relative;
        font-size: 10px;
        top: 62px;
    }

    .container-fluid .main-content div.form-item {
        position: relative;
        padding-top: 15px;
    }
}