body {
    position: relative;
    font-family: Shabnam, sans-serif !important;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.text-pink {
    color: #F2505E;
}

.background-pink {
    background-color: #F2505E;
}

.text-purple {
    color: #514992;
}

.toman {
    padding-right: 8px;
    color: #9D9D9D;
    font-size: 14px;
}

.background-purple {
    background-color: #514992;
}

span.space {
    margin: 0px 35px;
}

/*a {*/
    /*box-shadow:0px 2px 80px rgba(0, 0, 0, 0.1);*/
/*}*/

a:hover {
    cursor: pointer;
    /*box-shadow:0px 10px 40px rgba(0, 0, 0, 0.2);*/
}

/*TODO: this rule is for when <a> is clicked*/
a:visited {
    /*box-shadow:0px 0px 40px rgba(0, 0, 0, 0.15);*/
}

a#shadowing {
    transition: all 1s;
    box-shadow:0px 2px 80px rgba(0, 0, 0, 0.1);
}

a#shadowing:hover {
    cursor: pointer;
    box-shadow:0px 10px 40px rgba(0, 0, 0, 0.2);
}

/*TODO: this rule is for when <a> is clicked*/
a#shadowing:visited {
    box-shadow:0px 0px 40px rgba(0, 0, 0, 0.15);
}

select {
    height: 100%;
    width: 100%;
}

footer {
    position: relative;
    direction: rtl;
    text-align: right;
    width: 100%;
    margin: 0px !important;
    bottom: 0px;
    left: 0px;
    background-color: #185956;
    color: white;
    padding: 25px 100px !important;
}

footer div.text {
    position: relative;
    top: 5px;
}

footer div.icons {
    text-align: left;
}

footer div.icons img {
    width: 35px;
    height: 35px;
    margin-right: 15px;
    cursor: pointer;
}

footer div.icons img[src*="twitter.png"] {
    height: 30px;
}

@media screen and (max-width: 540px) {
    footer {
        padding: 10px !important;
    }

    footer div.text {
        font-size: 50%;
        padding-bottom: 10px;
    }

    footer div.icons > div {
        position: relative;
        left: 50%;
        margin-left: -160px;
    }

    footer div.icons img,
    footer div.icons img[src*="twitter.png"] {
        margin-right: 10px;
        width: 20px;
        height: 20px;
    }
}