@import "footer.css";

body {
    position: relative;
    font-family: Shabnam, sans-serif !important;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.text-pink {
    color: #F2505E;
}

.background-pink {
    background-color: #F2505E;
}

.background-purple {
    background-color: #514992;
}

.text-purple {
    color: #514992;
}

span.toman {
    padding-right: 8px;
    color: #9D9D9D;
    font-size: 14px;
}

span.space {
    margin: 0px 35px;
}

select {
    height: 38px;
    width: 100%;
    background-color: white !important;
    padding: 7px 10px;
    color: #757575 !important;
}

input[type="radio"] + span {
    padding-right: 5px;
}

a:hover {
    cursor: pointer;
}

a.shadowing {
    transition: all 1s;
    box-shadow:0px 2px 80px rgba(0, 0, 0, 0.1);
}

a.shadowing:hover {
    cursor: pointer;
    box-shadow:0px 10px 40px rgba(0, 0, 0, 0.2);
}

a.shadowing:visited {
    box-shadow:0px 0px 40px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 1199px) {
    html, body {
        overflow-x: hidden;
    }
}