.container-fluid .header-container {
    box-shadow:0px 2px 80px rgba(0, 0, 0, 0.1);
    padding: 15px 100px;
    margin-bottom: 0 !important;
}

.container-fluid .header-container .header-logo > img {
    float: right;
    margin-left: 20px;
    width: 60px;
    height: 60px;
}

.container-fluid .header-container .header-logo > span {
    float: right;
    font-size: 25px;
    font-weight: 600;
    position: relative;
    top: 12px;
    color: #44D0C9;
}

.header-container div.user-btn-header {
    position: relative;
    margin-top: -10px;
    padding: 10px;
}

.header-container a#user-btn-header {
    color: #524B9A;
    font-size: 20px;
    font-weight: 100;
    top: 12px;
    position: relative;
    margin-bottom: 20px;
    display:  block;
    width: fit-content;
}

.header-container a#user-btn-header > i {
    font-size: 22px;
    position: relative;
    top: 3px;
    padding-left: 5px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    text-align: right;
    display: none;
    position: absolute;
    border-radius: 5px;
    background-color: white;
    min-width: 210px;
    box-shadow:0px 2px 80px rgba(0, 0, 0, 0.1);
    padding: 20px 16px;
    z-index: 1;
}

.dropdown-content div.row {
    margin: 0 -8% !important;
}

.dropdown-content div.row div.balance {
    color: lightslategrey;
    font-size: 14px;
    font-weight: 200;
}

.dropdown-content div.row div.balance#name {
    text-align: right;
}

.dropdown-content div.row div.balance#value {
    direction: rtl;
    text-align: right;
}

.dropdown-content > a {
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: 100;
    background-color: #3AD0CA;
    border-radius: 10px;
    padding: 5px 15px;
    margin: 10% 10% 0% 10%;
    display:  block;
    width: auto;
}

.dropdown-content > a:hover {
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.container-fluid .title-row {
    width: 100%;
    height: 130px;
    background-image: url("../images/patterns/geometry2.png");
}

.container-fluid .title-row span {
    display: block;
    line-height: 130px;
    text-align: right;
    padding-right: 125px;
    font-size: 30px;
    font-weight: 600;
    color: #44D0C9;
}
