.container-fluid .header-container {
    padding: 15px 100px;
    direction: rtl;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: rgba(255,255,255,0.8);
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-right: 10px !important;
    box-shadow: 0px 2px 20px rgba(0,0,0,0.1);
}

.container-fluid .header-container .header-row {
    padding-top: 10px;
    height: 80px;
}

.container-fluid .header-container .header-logo > img {
    float: right;
    margin-left: 20px;
    width: 60px;
    height: 60px;
}

.container-fluid .header-container .header-logo > span {
    float: right;
    font-size: 25px;
    font-weight: 600;
    position: relative;
    top: 12px;
    color: #44D0C9;
}

.header-container div.user-btn-header {
    float: left;
    margin-top: -15px;
    padding: 10px;
}

.header-container a#user-btn-header {
    color: #524B9A;
    font-size: 20px;
    font-weight: 100;
    top: 20px;
    position: relative;
    padding-bottom: 45px;
    /*margin-bottom: 10px;*/
    display:  block;
    width: fit-content;
}

.header-container a#user-btn-header > i {
    font-size: 22px;
    position: relative;
    top: 3px;
    padding-left: 5px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    text-align: right;
    left: 0px;
    display: none;
    position: absolute;
    border-radius: 5px;
    background-color: white;
    min-width: 210px;
    box-shadow:0px 2px 80px rgba(0, 0, 0, 0.1);
    margin-top: 90px;
    padding: 20px 16px;
    z-index: 1;
}

.dropdown-content div.row {
    margin: 0 -8% !important;
}

.dropdown-content div.row div.balance {
    color: lightslategrey;
    font-size: 14px;
    font-weight: 200;
}

.dropdown-content div.row div.balance#name {
    text-align: right;
}

.dropdown-content div.row div.balance#value {
    direction: rtl;
    text-align: right;
}

.dropdown-content > a {
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: 100;
    background-color: #3AD0CA;
    border-radius: 10px;
    padding: 5px 15px;
    margin: 10% 10% 0% 10%;
    display:  block;
    width: auto;
}

.dropdown-content > a:hover {
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.container-fluid .title-row {
    margin-top: 80px;
    width: 100%;
    height: 130px;
    background-image: url("../images/patterns/geometry2.png");
}

.container-fluid .title-row span {
    display: block;
    line-height: 130px;
    text-align: right;
    padding-right: 125px;
    font-size: 30px;
    font-weight: 600;
    color: #44D0C9;
}

@media screen and (max-width: 1199px) {

    .container-fluid .header-container {
        box-shadow:0px 2px 80px rgba(0, 0, 0, 0.1);
        padding: 15px 0px;
        direction: rtl;
        margin-bottom: 0 !important;
    }

    .container-fluid .header-container .header-logo > img {
        display: block;
        margin: auto;
        width: 60px;
        height: 60px;
    }

    .container-fluid .header-container .header-logo > span {
        margin-top: 0;
        font-size: 0;
        color: transparent;
    }

    .container-fluid .title-row {
        height: 80px;
    }

    .container-fluid .title-row > span {
        font-size: 22px;
        line-height: 80px;
        text-align: center;
        padding-right: 0;
    }

    .container-fluid .header-container .desktop-header {
        display: none;
    }

    .container-fluid .header-container .mobile-header {
        position: absolute;
        top: 15px;
        padding-left: 30px;
        font-size: 12px;
        left: 0px;
    }

    .container-fluid .header-container .mobile-header .username {
        color: black;
        padding: 5px 8px;
    }

    .container-fluid .header-container .mobile-header .balance {
        background-color: #F2505E;
        padding: 5px 8px;
        color: white;
        border-radius: 5px;
    }

}

@media screen and (min-width: 1199px) {
    .container-fluid .header-container .mobile-header {
        display: none;
    }
}