.header-container div.row {
    padding-top: 20px;
}

.container-fluid div.slider {
    position: relative;
    z-index: -1;
}

.container-fluid div.slider .slide1,.slide2,.slide3,.slide4 {
    position: fixed;
    width: 100%;
    height: 90%;
}

.container-fluid div.slider .slide1 {
    /*background-attachment: scroll !important;*/
    background: url(../images/banner/1.jpg) no-repeat center;
    background-size: cover;
    animation:fade 10s infinite;
    -webkit-animation:fade 10s infinite;

}

.container-fluid div.slider .slide2 {
    /*background-attachment: scroll !important;*/
    background: url(../images/banner/2.jpg) no-repeat center;
    background-size: cover;
    animation:fade2 10s infinite;
    -webkit-animation:fade2 10s infinite;
}

.container-fluid div.slider .slide3 {
    /*background-attachment: scroll !important;*/
    background: url(../images/banner/3.jpg) no-repeat center;
    background-size: cover;
    animation:fade3 10s infinite;
    -webkit-animation:fade3 10s infinite;
}

.container-fluid div.slider .slide4 {
    /*background-attachment: scroll !important;*/
    background: url(../images/banner/4.jpg) no-repeat center;
    background-size: cover;
    height: 200%;
    transform: translateY(-55%);
    animation:fade4 10s infinite;
    -webkit-animation:fade4 10s infinite;
}

.header-container {
    margin-bottom: 50px;
}

.header-container .logo > img {
    display: block;
    margin: auto;
    width: 130px;
}

.header-container .logo > p {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    color: white;
}

.header-container div.user-btn-home {
    position: relative;
    margin: auto;
    padding: 10px;
}

.header-container a#user-btn-home {
    text-align: center;
    color: white;
    border: 2px solid white;
    font-size: 20px;
    font-weight: 100;
    border-radius: 10px;
    padding: 5px 15px;
    position: relative;
    margin-bottom: 20px;
    display:  block;
    width: fit-content;
}

.header-container a#user-btn-home > i {
    font-size: 22px;
    position: relative;
    top: 2px;
    padding-left: 5px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    text-align: right;
    display: none;
    position: absolute;
    border-radius: 5px;
    background-color: white;
    min-width: 210px;
    box-shadow:0px 2px 80px rgba(0, 0, 0, 0.1);
    padding: 20px 16px;
    z-index: 1;
}

.dropdown-content div.row {
    margin: -10% -8% !important;
}

.dropdown-content div.row div.balance {
    color: lightslategrey;
    font-size: 14px;
    font-weight: 200;
}

.dropdown-content div.row div.balance#name {
    text-align: right;
}

.dropdown-content div.row div.balance#value {
    direction: rtl;
    text-align: right;
}

.dropdown-content > a {
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: 100;
    background-color: #3AD0CA;
    border-radius: 10px;
    padding: 5px 15px;
    margin: 20% 10% 0% 10%;
    display:  block;
    width: auto;
}

.dropdown-content > a:hover {
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.container-fluid div.advantage-container {
    margin: 20px 0px 70px 0px !important;
}

.container-fluid div.advantage-container div.item {
    padding: 15px;
    text-align: center;
}

.container-fluid div.advantage-container div.item:first-child {
    padding-left: 0px;
}

.container-fluid div.advantage-container div.item:last-child {
    padding-right: 0px;
}

.container-fluid div.advantage-container div.item > div {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}

.container-fluid div.advantage-container div.item > div > img {
    width: 90px;
}

.container-fluid div.advantage-container div.item > div > span {
    display: block;
}

.container-fluid div.advantage-container div.item > div > span.title {
    font-size: 30px;
    padding: 10px;
}

.container-fluid div.advantage-container div.item > div > span.description {
    font-size: 20px;
}

.container-fluid div.why {
    margin-bottom: 150px;
    direction: rtl;
    text-align: right;
    position: relative;
}

.container-fluid div.why img {
    display: block;
    width: 100%;
    position: relative;
    top: 50%;
    margin-top: -110px;
}

.container-fluid div.why div.items {
    padding: 20px;
}

.container-fluid div.why div.items div.item {
    padding-bottom: 10px;
    font-size: 20px;
}

.container-fluid div.why div.items div.item > i {
    padding-left: 10px;
    color: #524B9A;
}

.container-fluid div.why div.title {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 600;
}

@keyframes fade
{
    0%   {opacity:1}
    25% { opacity: 0}
    50% { opacity: 0 }
    75% { opacity: 0 }
    100% { opacity: 1}
}
@keyframes fade2
{
    0%   {opacity:0}
    25% { opacity: 1}
    50% { opacity: 0 }
    75% { opacity: 0 }
    100% { opacity: 0}
}
@keyframes fade3
{
    0%   {opacity:0}
    25% { opacity: 0}
    50% { opacity: 1 }
    75% { opacity: 0 }
    100% { opacity: 0}
}
@keyframes fade4
{
    0%   {opacity:0}
    25% { opacity: 0}
    50% { opacity: 0 }
    75% { opacity: 1 }
    100% { opacity: 0}
}

@-webkit-keyframes fade {
    0%   {opacity:1}
    25% { opacity: 0}
    50% { opacity: 0 }
    75% { opacity: 0 }
    100% { opacity: 1}
}
@-webkit-keyframes fade2 {
    0%   {opacity:0}
    25% { opacity: 1}
    50% { opacity: 0 }
    75% { opacity: 0 }
    100% { opacity: 0}
}
@-webkit-keyframes fade3 {
    0%   {opacity:0}
    25% { opacity: 0}
    50% { opacity: 1 }
    75% { opacity: 0 }
    100% { opacity: 0}
}
@-webkit-keyframes fade4 {
    0%   {opacity: 0}
    25% { opacity: 0}
    50% { opacity: 0 }
    75% { opacity: 1 }
    100% { opacity: 0}
}

@media screen and (max-width: 1199px) {
    .container-fluid div.advantage-container div.item {
        padding-right: 0;
        padding-left: 0;
    }
}