.container-fluid .main-content .search-info {
    padding: 30px;
}

.container-fluid .main-content .search-info span {
    display: block;
    text-align: center;
    font-size: 23px;
    color: #999999;
}

.container-fluid .main-content .search-result {
    margin-bottom: 50px !important;
    direction: rtl;
}

.container-fluid .main-content .search-result.row > div:first-child {
    padding-right: 0;
}

.container-fluid .main-content .search-result.row > div:last-child {
    padding-left: 0;
}

.container-fluid .main-content .search-result .item {
    border-radius: 10px;
    transition: all 1s;
    box-shadow:0px 2px 80px rgba(0, 0, 0, 0.1);
    direction: rtl;
}

.container-fluid .main-content .search-result .item:hover {
    cursor: pointer;
    box-shadow:0px 20px 40px rgba(0, 0, 0, 0.1);
}

.container-fluid .main-content .search-result .item .row {
    padding: 10px 0;
}

.container-fluid .main-content .search-result .item img {
    width: 100%;
}

.container-fluid .main-content .search-result .item .image-container {
    overflow:  hidden;
    max-height: 200px;
    position: relative;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.container-fluid .main-content .search-result .item .image-container .image-label {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    padding: 2px 25px;
    border-radius: 10px;
    font-size: 18px;
}

.container-fluid .main-content .search-result .item .info-container {
    padding: 10px 20px;
    font-size: 18px;
}

.container-fluid .main-content .search-result .item .info-container > .row:first-child {
    border-bottom: 1px solid black;
}

.container-fluid .main-content .search-result .item .info-container span.contract-type {
    padding-left: 8px;
}

.container-fluid .main-content .search-result .item .info-container .location {
    padding-right: 8px;
}

.container-fluid div.main-content a.add-house {
    margin-bottom: 50px;
}

@media screen and (max-width: 1199px) {
    .container-fluid .main-content .search-info span {
        font-size: 100%;
    }

    .container-fluid .main-content .search-result > div:nth-child(2) {
        margin-top: 45px;
    }

    .container-fluid .main-content .search-result.row > div {
        padding-right: 0;
        padding-left: 0;
    }

    .container-fluid .main-content .search-result .item .info-container span {
        font-size: 12px;
    }
}